@model IEnumerable<EngineerAssistWebApp.Models.CommandModels>

@{
    ViewBag.Title = "Search Results";
}

<h2>Search Results</h2>
<h4>"@ViewBag.QueryString" returned @Model.Count() results</h4>

<div class="results_list">
    @if (Model != null)
    {
        int amount = Model.Count();
        int count = 1;
        foreach (var item in Model)
        {
            <div class="command">
                @if (item.GlobalVariableName == null)
                {
                    <p class="title">@count. @Html.ActionLink(item.CommandName, "Details", new { id = item.Id})</p>
                    <p>Type: Command</p>
                    <p>@item.CommandDescription</p>
                }
                @if (item.CommandName == null)
                {
                    <p class="title">@count. @Html.ActionLink(item.GlobalVariableName, "Details", new { id = item.Id })</p>
                    <p>Type: Global Variable</p>
                    <p>@item.GlobalVariableDescription</p>
                }
            </div>
            count++;
        }
    }
</div>
